<br />
<br />
<div *ngIf="isVisible">
  <h1>Demo below</h1>
  <form>
    <div class="form-group">
      <!-- <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [value]="name"
        (input)="inputValue($event)"
      /> -->

      <label for="firstName">First Name</label>
      <input
        type="text"
        id="firstName"
        class="form-control"
        name="firstName"
        #firstNameInput
      />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        class="form-control"
        #lastNameInput
      />
    </div>
  </form>

  <button class="btn-primary" (click)="sendName()">Send Name</button>
  <br />
  <app-test-child
    [fullName]="firstName + ' ' + lastName"
    (outputtedStringEmitter)="inputFromChild = $event"
  ></app-test-child>
  <div style="margin-top: 5px">
    <p>Our Child Input is: {{ inputFromChild }}</p>
  </div>

  <div style="border: 1px solid gray" *ngFor="let name of names">
    {{ name }}
  </div>
</div>
